DATABASE_URL="postgresql://user:password@localhost:5432/kookwleigh"
SESSION_PASSWORD="replace-with-32+char-random-string-xxxxxxxx"
ADMIN_PASSWORD="joshandleigh"
RESEND_API_KEY=""
APP_URL="http://localhost:3000"
